@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.mainfeaturesheading{
text-align: center;
color: #0b1118;
font-family: "Source Sans Pro", sans-serif;
font-weight: 600;
font-size: 2.5vw;
padding-top: 15vh;
background-color:#84f7d1;
border: 1px solid #84f7d1;
}


@media screen and (max-width: 900px) {
    .mainfeaturesheading{
        font-size: 8vw;
        padding-top: 4vh;
    }
}