@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
  --primary-color: #0b1118;
  --secondary-color: #84f7d1;
}

.mainfeatures {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

.flexreverse{
  flex-flow: row-reverse;
}




.features {
  /* border: 0.3vw solid var(--primary-color); */
  /* border-radius: 1vw; */
  flex: 1;
  margin: 5vw;
  /* animation: anim 2s linear; */
  /* transition-property: margin;
  transition-duration: 1s linear; */
  /* transition: 0.2s all ease; */
  /* border: 1px solid green; */
}

/* .features:hover{
transform: scale(1.02);
} */


.feature_illustation {
  flex: 1;
  margin: 5vw;
  /* border: 1px solid green; */
  width: 35vw;
  height: auto;
  animation: anim 4s linear;
}

.feature_heading {
  /* border: 1px solid green; */
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5vw;
  font-weight: 100;
  margin: 3vw;
  margin-bottom: 0.5vw;
}

.feature_caption {
  /* border: 1px solid yellow; */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.2vw;
  color: var(--primary-color);
  border-radius: 0.5vw;
  margin: 3vw;
  margin-top: 5vh;
}

.changeTextColor{
  color:white;  
}

.feature_button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0.2vw;
  margin: 3vw;
  margin-top: 1vw;
  border: 0px;
  padding: 0.7vw;
}

.changeButtonColor{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  color: black;
  
}

.feature_button:hover {
  cursor: pointer;
  /* background-color: white; */
  color: #84f7d1;
}

@media screen and (max-width: 900px) {
  .mainfeatures {
    flex-direction: column;
    padding-top: 2vh;
  }
  
  .features {
    border: 1vw solid var(--primary-color);
    border-radius: 2vw;
  }

  .changeBorderColor{
    border: 0.7vw solid white;
  }


  .flexreverse{
    flex-flow: column;
    flex-direction: column;
  }

  .feature_heading {
    font-size: 9vw;
  }

  .feature_caption {
    font-size: 7vw;
    margin-top: 1vh;
  }

  .feature_button {
    font-size: 6vw;
    padding: 3vw;
    margin-top: 1vh;
  }

  .feature_illustation {
    /* border: 1px solid green; */
    width: 65vw;
    height: auto;
  }

}


